server:
  port: 8080

spring:
  application:
    name: abrs

  datasource:
    url: jdbc:postgresql://localhost:5432/abrs_db
    username: postgres
    password: nbuser
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate   # change to update only during early dev if needed
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG          # SQL logs
    org.hibernate.orm.jdbc.bind: TRACE # parameters


  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration


  jpa:
    hibernate:
      ddl-auto: validate   # IMPORTANT: Flyway owns schema

